<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studio1bgroup11.edu2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HistoryActivity"  android:label="History" android:parentActivityName=".HomeActivity"></activity>
        <activity android:name=".ProfileActivity" android:label="Profile" android:parentActivityName=".HomeActivity" />

        <activity android:name=".UserChoice">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>

        <activity
            android:name=".LoginMainActivity"
            android:label="@string/app_name" android:parentActivityName=".UserChoice"/>
        <activity android:name=".RegisterActivity" android:parentActivityName=".LoginMainActivity" />

        <activity android:name=".HomeActivity" ></activity>




        <activity android:name=".BookingActivity" android:parentActivityName=".HomeActivity" />
    </application>

</manifest>